*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* navbar css */
/* nav ul li a{
    text-decoration: none;
}
nav ul{
    list-style: none;
}
header{
    display: flex;
    background-color: #EDEADE;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid #D22B2B;
}
.nav-logo img{
    width: 130px;
    height: 70px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-items{
    margin: 0 8px;
}
.nav-link{
    padding: 10px;
    color: #2e2e2e;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
}
.nav-link:hover{
    background-color: #D22B2B;
}
.header-toggle, .header-close{
    display: none;
}
@media screen and (max-width: 768px) {
    header{
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .nav-logo img{
        width: 70px;
        height: 50px;
    }
    .header-toggle{
        display: inline;
        color: #D22B2B;
        font-size: 74px;
    }
    .header-close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 74px;
        border-radius: 50%;
    }
    .header-close:hover{
        background-color: #D22B2B;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #EDEADE;
        color: #D22B2B;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
    }
    .nav-items{
        margin: 2rem 0;
    }
    .show{
        right: 0;
    }
} */
nav{
    margin-top: 0;
    /* position: fixed; */
    top: 0;
    background: #EDEADE;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #D22B2B;
}
label.logo{
    padding: 0 100px;
}
label img{
    width: 130px;
    height: 79px;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 10px;
    margin: 0 5px ;
}
nav ul li a{
    color: #000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 20px;
    text-transform: uppercase;
}
nav ul li a:hover{
    padding-left: 20px;
    padding-right: 20px;
    background: #D22B2B;
    transition: 0.5s ease-in;
}
.checkbtn{
    font-size: 30px;
    color: #000; 
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
};
#check{
    display: none;
}
 header nav.checkbtn, .btcheck{
    display: none;
}
@media (max-width:952px){
    label img{
        width: 80px;
        height: 50px;
    }
    nav ul{
        margin-top: 5px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    /* header nav .checkbtn, .btcheck{
        display: block;
    }
    .checkbtn{
        display: block;
        margin-top: 0;
    } */
    nav{
        height: 140px;
    }
    label.logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label img{
        width: 180px;
        height: 100px;
    }
    ul{
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        transition: all .2s;
    }
    nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 30px;
    }
    nav ul{
        margin-right: 0;
        margin-top: 0;
    }
    nav ul li a{
        font-size: 25px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width:614px){
    nav {
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
    nav ul li a{
        font-size: 20px;
    }
}
@media (max-width:620px){
    nav {
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
    nav ul li a{
        font-size: 15px;
    }
}
@media (max-width:426px){
    nav {
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
    nav ul li a{
        font-size: 12px;
    }
}
@media (max-width:369px){
    nav {
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
    nav ul li a{
        font-size: 10px;
    }
}
@media (max-width:332px){
    nav {
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
    nav ul li a{
        font-size: 8px;
    }
}
@media (max-width:294px){
    nav {
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
    nav ul li a{
        font-size: 6px;
    }
}

/* main css */

main{
    margin-top: 30px;
}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.slider{
    overflow: hidden;
    height: 400px;
    width: 100%;
}
.slides{
    width: 500%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 400px;
}
.manual-nav{
    position: absolute;
    width: 100%;
    margin-top: 350px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid red;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: red;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.auto-nav{
    position: absolute;
    width: 100%;
    margin-top: 350px;
    display: flex;
    justify-content: center;
}
.auto-nav div{
    border: 2px solid red;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    transition: 1s;
}
.auto-nav div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .auto-nav .auto-btn1{
    background: red;
}
#radio2:checked ~ .auto-nav .auto-btn2{
    background: red;
}
#radio3:checked ~ .auto-nav .auto-btn3{
    background: red;
}
#radio4:checked ~ .auto-nav .auto-btn4{
    background: red;
}

@media (max-width:858px){
    .slide img{
        width: 100%;
        height: 200px;
    }
    .manual-nav{
        display: none;
    }
    .auto-nav{
        display: none;
    }
}
.num-section{
    margin-top: 120px;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin-top: 100px;
    /* border: 1px solid black; */
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 600px;
    left: 50%;
    display: flex;
    justify-content: space-between;
}
.num-container{
    width: 30vmin;
    height: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color:  #21242b;
    border-bottom: 10px solid #7E1413 ;
}
.num-container i{
    color:  #C3120F;
    font-size: 2.5em;
    text-align: center;
}
span.num{
    color: #e0e0e0;
    display: grid;
    place-items: center;
    font-weight: 100;
    font-size: 3em;
}
span.text{
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}
.plus{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: 85px;
    font-size: 30px;
    color: #7E1413;
}
@media screen and (max-width: 1024px) {
    .wrapper{
        width: 85vw;
    }
    .num-container{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    /* .num-section{
        margin-top: 50px;
    } */
    .wrapper{
        margin-top: 20px;
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }
    .num-container{
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    /* .num-section{
        margin-top: 20px;
    } */
    .wrapper{
        margin-top: 50px;
        gap: 15px;
    }
    .num-container{
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}
@media screen and (max-width: 400px){
    .num-container{
        width: 100%;
        height: 30vmin;
        font-size: 8px;
    }
}
/* about css */
.about-section{
    margin-top: 340px;
}
.about-container{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 2px;
    background: url(tobias.jpg) no-repeat left;
    background-size: 55%;
    background-color: #EDEADE;
    overflow: hidden;
    padding: 150px 0;
    height: 600px;
}
.inner-container{
    width: 55%;
    margin-top: 10px;
    float: right;
    background-color: #fdfdfd;
    padding: 60px;
    box-sizing: border-box;
    box-shadow: #545454 10px;
}
.inner-container h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
}
.about-text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
}
@media screen and (max-width:1200px) {
    .inner-container{
        padding: 10px;
    }
}
@media screen and (max-width:1000px) {
    .about-section{
        width: 100%;
        margin-top: 400px;
    }
    .about-container{
        background-size: 100%;
        padding: 100px 40px;
        overflow: hidden;
    }
    .inner-container{
        width: 100%;
        margin-top: 15%;
    }
}
@media screen and (max-width:600px) {
    .about-container{
        margin-top: 400px;
        height: 100%;
        background-size: 150%;
        padding: 0;
        overflow: hidden;
        
    }
    .inner-container h1{
        color: #EDEADE;
    }
    .about-text{
        color: #EDEADE;
    }
    .inner-container{
        background: none;
        height: 100%;
    }
}
@media screen and (max-width:400px) {
    .about-container{
        margin-top: 100px;
        height: 100%;
        background-size: 200%;
        padding: 0;
        border-top-left-radius: none;
        border-bottom-left-radius: none;
    }
    .inner-container h1{
        font-size: 20px;
        margin-bottom: 10px;
        color: #EDEADE;
    }
    .about-text{
        color: #EDEADE;
        font-size: 12px;
    }
    .inner-container{
        background: none;
        height: 100%;
    }
}
/* services css */
.serices-box-container{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #222;
}
.services-section{
    margin-top: 70px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #222;
}
.service-title{
    height: 60px;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    color: #EDEADE;
    font-size: 50px;
    font-weight: 500;
}
.service-title div{
    position: relative;
    display: flex;
    margin-left: 42%;
}
.services-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
}
.services-container .box{
    position: relative;
    width: 300px;
    height: 350px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-container .box::before{
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
}
.services-container .box:hover::before{
    transform: skewY(0deg);

}
.services-container .box::after{
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}
.services-container .box:hover::after{
    transform: skew(0deg);
    
}
.services-container .box .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.services-container .box .content .services-img1{
    color: var(--clr);
    width: 180px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.services-img1 img{
    width: 180px;
    height: 80px;
}
.services-container .box .content .services-img2{
    color: var(--clr);
    width: 180px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.services-img2 img{
    width: 180px;
    height: 80px;
}
.services-container .box:hover .content .services-img1{
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
}
.services-container .box:hover .content .services-img2{
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
}
.services-container .box .content .services-text h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.services-container .box:hover .content .services-text h3{
    color: #2e2e2e;
}
.services-container .box .content .services-text p{
    color: #999;
}
.services-container .box:hover .content .services-text p{
    color: #2e2e2e;
}
.services-container .box .content a{
    position: relative;
    background-color: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    
}
.services-container .box:hover .content a{
    background-color: #2e2e2e;
    color: var(--clr);
    transition: 0.5s ease-in-out;
}
@media screen and (max-width: 690px) {
    .service-title{
        height: 60px;
        position: relative;
        display: flex;
        justify-items: center;
        align-items: center;
        color: #EDEADE;
        font-size: 50px;
        font-weight: 500;
    }
    .service-title div{
        position: relative;
        display: flex;
        margin-left: 35%;
    }
}
/* contact css */
.contact-section{
    margin-top: 80px;
    margin-bottom: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.contact-wrap{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.contact-in{
    padding: 40px 30px;
}
.contact-in:nth-child(1){
    flex: 30%;
    background: #222;
    color: #fff;
}
.contact-in:nth-child(2){
    flex: 45%;
    background: #D22B2B;
}
.contact-in:nth-child(3){
    flex: 25%;
    padding: 0;
}
.contact-in h1{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
.contact-in h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}
.contact-in p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}
.contact-in ul{
    padding: 0;
    margin: 0;
}
.contact-in li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 100px;
}
.contact-in li a{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}
.contact-in li a i{
    font-size: 20px;
    width: 20px;
    color: #000;
    padding-top: 10px;
}
.contact-in li a:hover{
    background: #D22B2B;
    margin-right: 40px;
    transition: 0.5s ease-in-out; 
}
.contact-in li a i:hover{
    color: #fff;
}
.contact-in form{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-in-input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.contact-in-input::placeholder{
    color: #fff;
}
.contact-in-input:hover{
    background: #FF3131;
}
.contact-in-textarea{
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.contact-in-textarea::placeholder{
    color: #fff;
}
.contact-in-btn{
    width: 100px;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.contact-in-btn:hover{
    background: #2e2e2e;
    width: 100%;
    transition: 0.5s ease-in-out;
}
.contact-in iframe{
    width: 100%;
    height: 100%;
}
iframe{
    width:100%;
    height:auto; 
}
@media screen and (max-width: 1000px) {
    .contact-section{
        height: 800px;
    }
    .contact-wrap{
        height: 400px;
        margin-top: 20px;
    }
    .contact-in:nth-child(1){
        flex: 50%;
    }
    .contact-in:nth-child(2){
        flex: 50%;
    }
    .contact-in:nth-child(3){
        flex: 100%;
    }
}
@media only screen and(max-width:360px){
    .contact-in:nth-child(1){
        flex: 100%;
    }
    .contact-in:nth-child(2){
        flex: 100%;
    }
    .contact-in:nth-child(3){
        flex: 100%;
    }
}
/* footer css */
footer{
    width: 100%;
    height: 220px;
    top: 0;
    position: relative;
    bottom: 0;
    background: #EDEADE;
    padding: 5px 0 30px;
    font-size: 15px;
    line-height: 20px;
}
.footer-logo{
    width: 120px;
    height: 79px; 
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex: 15%;
}
.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}
.footer-email{
    width: fit-content;
    border-bottom: 1px solid #EDEADE;
    margin: 20px 0;
}
.col-list li {
    list-style: none;
    margin-bottom: 6px;
}
.col-list li a{
    text-decoration: none;
    color: #000;
    background: none;
}
.col-list li a:hover{
    color: red;
    width: 50px;
    transition: 0.5s ease-in-out
}
.col-footer-social{
    margin-right: 25px;
    width: 180px;
}
.footer-social {
    width: 180px;
    margin-top: 10px;
}
.footer-social ul{
    margin-top: 15px;
    width: fit-content;
}
.footer-social ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-social li a{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #000;
}
.footer-social li a i{
    font-size: 20px;
    width: 20px;
    color: #000;
    padding-top: 5px;
}
.col-copyright{
    float: right;
    margin-top: 10px;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
.social-underline{
    width: 90%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: 5px;
    left: 0;
    overflow: hidden;
}
.social-underline span{
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }
}
@media screen and (max-width: 1000px){
    footer{
        margin-top:0;
        height: 100%;
        bottom: unset;
        background: #EDEADE;
    }
    .col-copyright{
        float: right;
        margin-top: 0px;
    }
}
@media screen and (max-width: 900px) {
    .row{
        width: 100%;
    }
    footer{
        margin-top: 20px;
        height: 100%;
        bottom: unset;
        background: #EDEADE;
    }
    .col{
        flex-basis: 100%;
        flex-direction: row;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex: 100%;
    }
    .col-footer-social{
        flex: 100%;
    }
    .col-footer-social{
        display: none;
    }
    #plan{
        display: none;
    }
    .col-list{
       display: none;
    }
    .col-list li {
        position: absolute;
        list-style: none;
        margin-bottom: 6px;
    }
    .col-list li a{
        text-decoration: none;
        color: #000;
        background: none;
        padding: 5px;
    }
}
@media screen and (max-width: 590px) {
    .row{
        width: 100%;
    }
    footer{
        margin-top: 65px;
        height: 100%;
        bottom: unset;
        background: #EDEADE;
    }
}
@media (max-width: 589px){
    footer{
        margin-top: 50px;
    }
}
@media (max-width: 585px){
    footer{
        margin-top: 580px;
    }
}
@media (max-width: 300px){
    footer{
        margin-top: 580px;
    }
}
#preloader{
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #D22B2B;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #EDEADE;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #2e2e2e;
    }
}
.ring::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}
.center span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out linear infinite;
}
@keyframes text {
    0%{
        color: #7E1413;
    }
}